body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    }
    header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    }
    .place {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    }
    .place:hover {
    transform: scale(1.05);
    }
    img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    }
   h2 {
    color: #333;
    }
    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
    .place a {
    color: black;
    /* Set the text color to black */
    text-decoration: none;
    /* Remove the underline on the anchor tag */
    }